* {
    background-color: #1F2937;
}

.site-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: aliceblue;
    border-color: aliceblue;
    gap: 0px;
}

.site-container div {
    /* border: 4px solid red; */
}
.hero {
    display: flex;
    gap: 10px;
    height: 70px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}
.hero nav{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    flex-shrink: 2;
}
.hero a {
    color:#E5E7EB;
    text-decoration: none;
    font-size: 18px;

}
.hero h3 {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}


.main1 {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 10px;
    margin-bottom: 50px;
    gap: 10px;
}
.main1 .text-container button{
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    color: #E5E7EB;
    background-color: #3882F6;
    transition-duration: 0.4s;
}
.main1 .text-container button:hover {
    background-color: #598ffc;
    color: white;
}

.text-container h1 {
    font-size: 48px;
    font-style: extra-bold;
}
.text-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.main1 img {
    max-height: 75%;
    max-width: 75%;
}

.main2 {
    height: 400px;
    background-color: aliceblue;    
}

.quote {
    height: 400px;
    color: #1F2937;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote p{
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36 px;
}
.quote h6{
    background-color: #E5E7EB;
}


.call-to-action {
    height: 200px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-container {
    background-color: #3882F6;
}
.sign-up-container button{
    border: 1px solid white;
    border-radius: 12px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.footer {
    align-items: center;
    height: 70px;
    background-color: #1F2937;
    color: aliceblue;
    text-align: center;
}

